main {
    min-height: fit-content;
    display: flex;
    justify-content: center;
}

#folder {
    width: min-content;
    height: min-content;

}

.table {
    margin-bottom: 0;
}

#table {
    border-radius: 1%;
    height: 2vh;
    width: 2vh;
}

#table tr, #table th { 
    align-self: flex-start;
    border-bottom: 1px solid #dee2e6;
    font-size: max(2vh, 12px);
    width: min-content;
}

#table td {
    text-align: center;
    vertical-align: middle;
}