{% load static %}
<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <div class="btn-group" role="group">
    </div>
    <form action="" method="POST" id="OpeningForm">
      {% csrf_token %}
      {% for field in openingform %}
      <div class="field-wrapper">
          {{ field.errors }}
          {{ field }}
      </div>
  {% endfor %}
      <input class="btn btn-secondary" type="submit" value="Add Job Opening" style="width: max(13vh, 97px); font-weight:400; font-size: max(2vh, 12px);">
    </form>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="file" accept=".pdf, .docx" multiple>
        <input type="submit" value="Upload">
    </form>

    <button type="button" class="btn btn-secondary">Button</button>
    <div class="search_btn">
        <form class="form-inline my-2 my-lg-0">
            <input id='search_input' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button id="search_btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </div>